.header {
    background: @bg-color--side;
    border-top: @content-line-width solid @content-line-color;

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: calc(@content-width - 2 * 3rem);
        padding: @padding--basic;

        @media @screen--wide {
            flex-direction: row;
        }
    }
}

.about {
    display: flex;
    flex: 1;
    margin-left: 0.5em;

    @media @screen--wide {
        flex-direction: column;
        margin-left: 1em;
    }

    &__name {
        flex: 1;
    }

    &__title {
        color: lighten(@font-color--main, 50);
        display: none;
        font-size: 0.6em;
        font-weight: normal;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @media @screen--wide {
            display: inherit;
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
}

.nav {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;

    @media @screen--wide {
        margin: initial;
    }

    &__item {
        display: inline-block;
        list-style: none;
        margin-bottom: 0;
        position: relative;

        & + & {
            margin-left: @padding--basic / 2;
        }

        &--active:after {
            background: @font-color--link-content-line;
            content: '';
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 1em;
        }

        &--funky {
            a:hover {
                color: @color-supplementary;
            }

            a:hover span {
                animation-name: funky;
                // animation-play-state: running;
            }

            span {
                animation-duration: 2s;
                animation-iteration-count: infinite;
                // animation-name: funky;
                // animation-play-state: paused;
            }

            // playground letters count
            .funky-letters-delay(10);
        }
    }
}

.funky-letters-delay(@n, @i: 0) when (@i =< @n) {
    span:nth-child(@{i}) {
        animation-delay: ~'calc(@{i}s * 0.1)';
    }

    .funky-letters-delay(@n, (@i + 1));
}

@keyframes funky {
    0% {
        color: @color-supplementary;
    }
    20% {
        color: #ef5350;
    }
    40% {
        color: #29b6f6;
    }
    60% {
        color: #ffee58;
    }
    80% {
        color: #9ccc65;
    }
    100% {
        color: @color-supplementary;
    }
}
