.logo {
    display: flex;
    flex: 1;
}

.logo__link {
    border-radius: 50%;
    display: block;
    width: @logo-width / 3;
    height: @logo-width / 3;

    @media @screen--wide {
        background: url('../img/doomface.gif') center center no-repeat,
            linear-gradient(135deg, @bg-color--side, shade(@bg-color--side));
        background-size: 80%, 100%;
        height: @logo-width;
        width: @logo-width;
    }
}

.logo__link:hover .logo__image {
    @media @screen--wide {
        box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
        transform: translateX(@logo-push) rotate(@logo-rotate);
    }
}

.logo__image {
    .transition();

    border-radius: 50%;
    transition-property: transform, box-shadow;
    opacity: 1 !important;
    width: @logo-width / 3;
    height: @logo-width / 3;

    @media @screen--wide {
        height: @logo-width;
        width: @logo-width;
    }
}
