html {
	background: @bg-color--main;
	color: @font-color--main;
	font-family: @font-families;
	font-size: @font-size--small;
	font-weight: 300;
	line-height: 1.75em;
	overflow-y: scroll;
	overflow-x: hidden; // logo hover fix

	@media @screen--wide {
		font-size: @font-size--wide;
	}
}

body {
    background: @bg-color--alt;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
	color: @font-color--link;
	text-decoration: none;
	.transition(~'color');

	&:hover {
		color: @font-color--link-content;

		img {
			opacity: 0.8;
		}
	}
}

h1 {
    background-image: linear-gradient(to bottom, shade(@bg-color--side, 3%), @bg-color--side 0.75em);
	border-top: 1px solid @color-base2;
	line-height: 1.25em;
	margin: 0;
	padding: 1rem;
	text-align: center;

	@media @screen--wide {
		padding: 2rem;
    }

    a {
        color: inherit;
        cursor: text;
    }
}

h2 {
    margin-top: @padding--wide;

}

.article h2 a,
.article h3 a,
.article h4 a {
    color: inherit;
    text-decoration: none !important;

    &:hover::before {
        display: inline-block;
        content: "#";
        padding-right: 0.5ch;
        margin-left: -1.5ch;
        border: 0 !important;
    }
}

pre,
code {
	color: @font-color--code;
	font-family: monospace !important;
	font-size: 0.9rem;
	line-height: 1.35 !important;
}

code:not([class]) {
	background: @bg-color--code;
}

pre[class*='language-'] {
	border-radius: 0;
	margin-left: -@padding--basic;
	margin-right: -@padding--basic;
	padding-left: @padding--basic;
	padding-right: @padding--basic;

	@media @screen--wide {
		margin-left: -@padding--wide;
		margin-right: -@padding--wide;
		padding-left: @padding--wide;
		padding-right: @padding--wide;
	}
}

code {
	font-size: 0.8em;
	padding: 3px 5px;

	pre & {
		padding: 0;
		border: none;
	}
}

abbr {
    text-decoration: none;
}

img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}

blockquote {
	font-family: serif;
	font-style: italic;
	quotes: '\201C' '\201D' '\2018' '\2019';
	margin: @padding--wide @padding--basic;

	&:before {
		color: @color-supplementary;
		content: open-quote;
		font-size: 4em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
		line-height: 0;
	}

	p {
		display: inline;
	}
}

table {
    font-size: 0.8em;
    width: 100%;
}

th {
    text-align: left;
}

tr + tr {
    border-top: 2px solid @font-color--link-content-line;
}

td {
   padding: 0.25em 0;
}

th + th,
td + td {
    padding-left: 1em;
}
