.logs {
  columns: 325px;
  padding: var(--gap);
}

.logs .log {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  position: relative;
}
.logs .log::after {
  color: var(--accent-emphasized);
  font-family: monospace;
  counter-increment: log -1;
  content: counter(log) '.';
  position: absolute;
  right: 0.25em;
  bottom: 0.25em;
  line-height: 1;
  font-size: 0.875rem;
  pointer-events: none;
}

.log {
  background: var(--background-secondary);
  margin: 1em 0;
  padding: 1rem;
  box-sizing: border-box;
  /* .transition(background-color); */
}

.log p:first-of-type {
  margin: 0;
}

.log pre {
  margin: 0;
  padding: 1em;
}

.log pre,
.log code {
  background: var(--background) !important;
}
