.tip {
  font-family: var(--font-alternative);
  font-size: 1.25rem;
  color: var(--accent);
  border-block: 1px solid var(--accent);
  margin: var(--gap) calc(var(--gap) * -1);
  padding: var(--gap);
}

.tip p:first-child {
  margin-top: 0;
}
