site:
	url: http://romanvesely.com
	title: Roman Veselý
	subtitle: Interested in web and stuff
	author: Roman Veselý
	email: info@romanvesely.com
	homeNotesCount: 3

codes:
	disqus: roman-vesely-notes

configuration:
	postRoute: :title
	markdownHeadlineAnchors: true
