includes:
    - manifest.neon
    - site/_data/projects.neon
    - site/_data/slides.neon

parameters:
	amp: false
	post_route: :title
	github_repository_slug: crazko/romanvesely.com
	markdown_headline_anchors: true

	# other constants
	author: Roman Veselý
	email: info@romanvesely.com
	site:
		url: https://romanvesely.com
		title: Roman Veselý
		subtitle: Interested in web and stuff
	codes:
		disqus: roman-vesely-notes
	gravatar:
		email: crazko@gmail.com
		url: https://www.gravatar.com/avatar/
