---
layout: "_layouts/default.latte"
title: about
---

{block maincontent}
<p>My first websites were created in the era of floppy disks. <a href="http://joecartoon.com/">Flash</a> and <a href="http://ps2.praystation.com/pound/v3/">ActionScript</a> proved me that web may be really fun. I have been devoted to the frontend development for many years and currently being working mainly with <a href="https://reactjs.org/">React</a> and <a href="https://www.typescriptlang.org/">TypeScript</a>. I use tools like <a href="https://laravel.com/">Laravel</a>, <a href="https://nette.org/">Nette</a> or&nbsp;<a href="https://wordpress.org/">WordPress</a> to solve things on the backend side. I'm also experienced in <a href="https://en.wikipedia.org/wiki/ABAP">ABAP</a> development in <a href="http://go.sap.com/">SAP</a> systems.</p>

<p>My interest is in the open source, static sites, continuous integration, security and decentralized applications.</p>

<p>I love science fiction, either as a film or a book. My body is tormented during run or in a gym regularly. Walks in the nature, more-day hiking as well as camping are something I cannot live without. I like to learn new things and often deal with the smallest details to make something great. I come from the beautiful city of  Kosice, Slovakia.</p>

<p>From time-to-time I express my thoughts in non-technical way and <a href="https://dennikn.sk/autor/iafke/">write in my native language</a>.</p>

<blockquote>
	<p>Tell me what you read and I will tell you who you are.</p>
</blockquote>

<p>You can check what books have I read in the <a href="https://www.goodreads.com/review/list/53605807-roman-vesel?read_at=2018&view=covers">recent</a> <a href="https://www.goodreads.com/review/list/53605807-roman-vesel?read_at=2017&view=covers">years</a> and below comes what can be found in my <abbr title="Really Simple Syndication">RSS</abbr> reader.</p>

{php $opml = file_get_contents(getcwd() . '/site/_data/feedly.opml');}
{php $opml = new SimpleXMLElement($opml);}

<div class="feeds" id="what-do-i-read">
	<div class="feeds__category" n:foreach="$opml->body->outline as $category">
		<h3 class="feeds__category-title">{$category['title']}</h3>
		<ul class="feeds__list" n:inner-foreach="$category->outline as $source">
			<li><small><a href="{$source['xmlUrl']}" class="feeds__rss">rss</a></small> <a href="{$source['htmlUrl']}">{$source['title']}</a></li>
		</ul>
	</div>
</div>
{/block}
