---
interface Props {
  bookmarks: Array<{
    hostname: string;
    title: string;
    url: string;
  }>;
}

const { bookmarks } = Astro.props;
---

<ul class='cards bookmarks h-feed'>
  {
    bookmarks.map(({ hostname, title, url }) => (
      <li class='card bookmark h-entry'>
        <a href={url} class='bookmark__link u-bookmark-of h-cite' target='_blank' rel='noopener'>
          <p class='p-name'>{title}</p>
          <div class='text-end'>
            <span class='pill'>{hostname}</span>
          </div>
        </a>
      </li>
    ))
  }
</ul>
