{extends "default"}

{block content}
{include "postData", post => $post}
<p class="post__description">{$post['description']|noescape}</p>

{ifset $post['promoImage']}{include "image", src => $post['promoImage'], url => $url}{else}<hr>{/ifset}

{$post['content']|noescape}
{/block}
