{default $showReadingTime = true}
{var $readingTime = $post['readingTime'] ?? $post->getReadingTimeInMinutes()}

<small class="post__meta">
	{$post->getDateInFormat('d. F Y')}
	{if $showReadingTime} &bull; {$readingTime}min to read{/if}
</small>
