{default $showReadingTime = true}
{var $readingTime = $post['readingTime'] ?? $post->getReadingTimeInMinutes()}

<small class="post__meta">
	{$post->getDateInFormat('d. F Y')}
	{if $showReadingTime} <span class="post__meta-delimiter">&#9679;</span> {$readingTime}min to read{/if}
</small>
