.theme--dark {
  --background: var(--base03);
  --background-secondary: var(--base02);
  --text: var(--base0);
  --text-secondary: var(--base01);
  --text-emphasized: var(--base1);

  --accent: var(--yellow);
  --accent-secondary: var(--red);
  --accent-emphasized: var(--magenta);
}
