:root,
.theme--light {
  --background: var(--base3);
  --background-secondary: var(--base2);
  --text: var(--base00);
  --text-secondary: var(--base1);
  --text-emphasized: var(--base01);

  --accent: var(--blue);
  --accent-secondary: var(--red);
  --accent-emphasized: var(--magenta);
}
