.header {
  border-top: 10px solid var(--accent);
  padding: var(--gap) 0;

  .transition(border-color);

  &__container {
    display: flex;
    flex-direction: column;

    @media @screen--wide {
      align-items: center;
    }
  }
}

.about {
  margin-left: 0.5em;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;

  @media @screen--wide {
    justify-content: center;
    margin-left: 1em;
  }

  &__name {
    color: var(--text-emphasized);
    font-family: @fonts-alternative;
    font-size: 1.25rem;
    line-height: 1;
    .transition(color);

    @media @screen--wide {
      margin-bottom: 0.5em;
    }
  }

  &__social {
    font-size: 0.875rem;
    line-height: 1;
  }
}
