.header {
  border-top: 10px solid var(--accent);
  padding: var(--gap) 0;

  .transition(border-color);

  &__container {
    display: flex;
    flex-direction: column;

    @media @screen--wide {
      align-items: center;
    }
  }
}

.about {
  display: flex;
  flex: 1;
  margin-left: 0.5em;

  @media @screen--wide {
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
  }

  &__name {
    font-family: @fonts-alternative;
    color: var(--text-emphasized);
    .transition(color);
  }
}
