.navigation {
  display: flex;
  align-items: center;
}

.nav {
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding: 0;

  @media @screen--wide {
    margin: initial;
  }

  &__item {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    position: relative;

    &:not(:last-child) {
      margin-right: 0.75em;
    }
  }

  &__link {
    &--active {
      border-bottom: 2px solid;
    }
  }
}
