// media queries
@bp--small: 600px;
@bp--wide: 800px;

@screen--small: ~'screen and (min-width: @{bp--small})';
@screen--wide: ~'screen and (min-width: @{bp--wide})';

// colors
@color-supplementary: #268bd2;
@color-base2: #eee8d5;

@bg-color--main: #fff;
@bg-color--side: #fdf6e3;

@font-color--main: #0c0c0c;
@font-color--link: @color-supplementary;

@font-color--link-content: #000;
@font-color--link-content-line: lighten(@color-supplementary, 30%);

@font-color--code: #d33682;
@bg-color--code: @bg-color--side;

@font-color--light: #4b4b4b;

@content-line-color: @color-supplementary;

// fonts
@font-families: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
	'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@font-size--small: 18px;
@font-size--wide: 20px;

// vars
@content-width: 800px;
@content-line-width: 10px;

@padding--basic: 1rem;
@padding--wide: 3rem;

@logo-width: 100px;
@logo-rotate: 55deg;
@logo-push: calc((pi() * (@logo-width / 2)) / 180 * @logo-rotate);
