.content {
	max-width: @content-width;
	padding: @padding--basic;

	@media @screen--wide {
		padding: @padding--wide;
	}

	a {
		// border-bottom: 2px solid @font-color--link-content-line;
		text-decoration: underline;
		text-decoration-color: @font-color--link-content-line;
		text-decoration-skip: ink;
	}

	& p:last-of-type {
		margin-bottom: 0;
	}
}

.post {
	&__description {
		font-size: 1.3rem;
		line-height: 2rem;
		color: @color-supplementary;
	}

	&__meta {
		font-size: .7rem;
		text-transform: uppercase;
		color: @font-color--light;
		padding: 0;
		list-style: none;

		&-item {
			display: inline-block;

			&:not(:first-child):before {
				color: @color-supplementary;
				content: "● "; // &#9679;
			}
		}
	}

	&__signature {
		margin: 3rem 0;
		font-size: 1.1rem;
		text-align: right;

		&::before {
			content: '\2014\00A0';
		}
	}

	&__sources {
		padding: @padding--basic;
		background-color: @bg-color--side;
		margin: auto -@padding--basic;

		@media @screen--wide {
			margin: auto;
		}

		&-list {
			padding: 0;
			list-style: none;
		}
	}
}

.feeds {
	margin-top: @padding--basic;

	@media @screen--small {
		column-count: 2;
	}

	&__category {
		@media @screen--small {
			display: inline-block;
		}
	}

	&__category-title {
		margin-top: 0;
	}

	&__list {
		list-style: none;
		padding: 0;
	}

	&__rss {
		background-color: @bg-color--side;
		border: none !important;
		padding: 0 5px;

		&:after {
			display: none;
		}
	}
}
