.logo {
	@media screen and (min-width: @bp--wide) and (max-width: @bp--ultra) {
		.clearfix();
	}

	&__background {
		.logoRadius();
		background: url('../img/doomface.gif') center center no-repeat, linear-gradient(135deg, @bg-color--side, shade(@bg-color--side));
		background-size: 80%, 100%;
		float: right;
		display: block;
		clear: right;

		@media @screen--wide {
			margin-bottom: @padding--basic / 2;
		}

		@media @screen--ultra {
			float: left;
		}

		&:hover img {
			opacity: 1;
			box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, .2);
			transform: translateX(@logo-push) rotate(@logo-rotate);
		}
	}

	&__image {
		.logoRadius();
		.transition();
	}
}

.title {
	color: lighten(@font-color--main, 50);
	font-size: .6em;
	font-weight: normal;
	letter-spacing: .05em;
	text-transform: uppercase;
}

.nav {
	margin: 0;
	padding: @padding--basic;
	font-weight: normal;

	&__item,
	&__divider {
		list-style: none;
	}

	&__item {
		display: inline-block;
		margin-right: @padding--basic / 2;

		&--logo {
			display: inherit;
			margin-right: inherit;
			margin-bottom: @padding--basic / 2;

			a {
				font-size: 1.2rem;
		    	font-weight: 200;
			    color: shade(@bg-color--side, 65%);
			}
		}

		&--funky {
			a:hover {
				color: @color-supplementary;
			}

			a:hover span {
				animation-name: funky;
				// animation-play-state: running;
			}

			span {
				animation-duration: 2s;
				animation-iteration-count: infinite;
				// animation-name: funky;
				// animation-play-state: paused;
			}

			// playground letters count
			.funky-letters-delay(10);
		}
	}

	@media @screen--wide {
		padding: @padding--wide;

		&__divider {
			height: @padding--basic;
		}

		&__item {
			text-align: right;
			display: list-item;
			margin: 0;
		}
	}
}

.funky-letters-delay(@n, @i: 0) when (@i =< @n) {
	span:nth-child(@{i}) {
		animation-delay: ~"calc(@{i}s * 0.1)";
	}

	.funky-letters-delay(@n, (@i + 1));
  }

@keyframes funky {
	0% {color: @color-supplementary;}
	20% {color: #EF5350;}
	40% {color: #29B6F6;}
	60% {color: #FFEE58;}
	80% {color: #9CCC65;}
	100% {color: @color-supplementary;}
}
