---
const links = {
  home: '/',
  about: '/about',
  log: '/log',
  blogroll: '/blogroll',
  bookmarks: '/bookmarks',
};

const { pathname } = Astro.url;
const path = pathname.length > 1 ? pathname.replace(/\/$/, '') : pathname;
---

<nav>
  <ul class="navigation">
    {
      Object.entries(links).map(([title, link]) => (
        <li>
          <a href={link} aria-current={link === path ? 'page' : undefined}>
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
